# SHAPE
### Tech Test
#### Leonardo Lacerda Galler

#### Details:
The assignment involves an FPSO (Floating Production, Storage, and Offloading) vessel data, and we need your help with equipment failure data ingestion.
The FPSO vessel contains some equipment and each equipment have multiple sensors. Every time a failure happens, we get all the sensors data from the failed equipment, and we store this information in a log file (the time is in GMT time zone).

#### Expectations -  answer a few questions related to January 2020
1 – Total equipment failures that happened?

2 – Which equipment code had most failures?

3 – Average amount of failures across equipment group, ordered by the number of failures in ascending order?

### Accessing and describing the data

In [1]:
import pandas as pd
path_folder = "/home/jovyan/docker/dados/"

#### Reading the files and creating dataframes
    1. Reading the equipment file

In [2]:
equipemnt_df = pd.read_json(path_folder+"equipment.json", orient="records")
equipemnt_df

    equipment_id      code group_name
0              1  5310B9D7   FGHQWR2Q
1              2  43B81579   VAPQY59S
2              3  E1AD07D4   FGHQWR2Q
3              4  ADE40E7F   9N127Z5P
4              5  78FFAD0C   9N127Z5P
5              6  9AD15F7E   PA92NCXZ
6              7  E54B5C3A   FGHQWR2Q
7              8  86083278   NQWPA8D3
8              9  3329175B   VAPQY59S
9             10  98B84035   NQWPA8D3
10            11  09C37FB8   PA92NCXZ
11            12  CF304D24   FGHQWR2Q
12            13  4E834E81   Z9K1SAP4
13            14  2C195700   VAPQY59S

In [3]:
equipemnt_df.info

<bound method DataFrame.info of     equipment_id      code group_name
0              1  5310B9D7   FGHQWR2Q
1              2  43B81579   VAPQY59S
2              3  E1AD07D4   FGHQWR2Q
3              4  ADE40E7F   9N127Z5P
4              5  78FFAD0C   9N127Z5P
5              6  9AD15F7E   PA92NCXZ
6              7  E54B5C3A   FGHQWR2Q
7              8  86083278   NQWPA8D3
8              9  3329175B   VAPQY59S
9             10  98B84035   NQWPA8D3
10            11  09C37FB8   PA92NCXZ
11            12  CF304D24   FGHQWR2Q
12            13  4E834E81   Z9K1SAP4
13            14  2C195700   VAPQY59S>

    2. Reading the equipment_sensors

In [4]:
equip_sensor_df = pd.read_csv(path_folder+"equipment_sensors.csv", sep=";")
equip_sensor_df

    equipment_id  sensor_id
0              4          1
1              8          2
2             13          3
3             11          4
4              1          5
..           ...        ...
95            12         96
96             4         97
97            14         98
98            14         99
99             3        100

[100 rows x 2 columns]

In [5]:
equip_sensor_df.info

<bound method DataFrame.info of     equipment_id  sensor_id
0              4          1
1              8          2
2             13          3
3             11          4
4              1          5
..           ...        ...
95            12         96
96             4         97
97            14         98
98            14         99
99             3        100

[100 rows x 2 columns]>

    3. Reading the log file (The log file is very complex and will need more attention)

In [6]:
# Read the current file
log_data = open(path_folder+"equipment_failure_sensors.log","r")

# Will create a new file
new_file = open(path_folder+"equipment_failure_sensors_new.log","a")

In [7]:
for line in log_data.readlines():
    new_file.write(line.replace("[","")\
        .replace("]","")\
        .replace("\t",";")\
        .replace("sensor","sensor ")\
        .replace("temperature;","temperature=")\
        .replace("vibration;","vibration=")\
        .replace(":;",";")\
        .replace("(","")\
        .replace(")","")\
        .replace(",",";"))

In [8]:
# Closing the connections
log_data.close()
new_file.close()

    4. After the initial wrangling of the log data, now we structure it more with pandas

In [21]:
equip_fail_sensors = pd.read_csv(path_folder+"equipment_failure_sensors_new.log", sep=";", names=["datetime","status","sensor","temperature","vibration"])
equip_fail_sensors

,datetime,status,sensor,temperature,vibration
0,2019-12-10 10:46:09,ERROR,sensor 5,temperature=365.26,vibration=-6305.32
1,2019-12-10 10:46:09,ERROR,sensor 43,temperature=458.47,vibration=-58.41
2,2019-12-10 10:46:09,ERROR,sensor 44,temperature=57.16,vibration=-999.66
3,2019-12-10 10:46:09,ERROR,sensor 67,temperature=106.69,vibration=-4659.02
4,2019-12-02 06:53:29,ERROR,sensor 5,temperature=26.42,vibration=-3438.67
...,...,...,...,...,...
110932,2019-12-09 09:26:38,ERROR,sensor 27,temperature=472.36,vibration=9660.13
110933,2019-12-09 09:26:38,ERROR,sensor 51,temperature=134.64,vibration=-736.71
110934,2019-12-09 09:26:38,ERROR,sensor 56,temperature=388.94,vibration=1237.49
110935,2019-12-09 09:26:38,ERROR,sensor 81,temperature=82.97,vibration=-1871.2
110936,2019-12-09 09:26:38,ERROR,sensor 89,temperature=204.79,vibration=-6460.27

    5. For the columns sensor, temperature and vibration, we must keep just the values

In [10]:
# Columns sensor
equip_fail_sensors["sensor"] = equip_fail_sensors["sensor"].apply(lambda char: char.split(" ")[1])

In [11]:
# Columns temperature
equip_fail_sensors["temperature"] = equip_fail_sensors["temperature"].apply(lambda char: char.split("=")[1])

In [12]:
# Columns temperature
equip_fail_sensors["vibration"] = equip_fail_sensors["vibration"].apply(lambda char: char.split("=")[1])

In [13]:
equip_fail_sensors

                   datetime status sensor temperature vibration
0       2019-12-10 10:46:09  ERROR      5      365.26  -6305.32
1       2019-12-10 10:46:09  ERROR     43      458.47    -58.41
2       2019-12-10 10:46:09  ERROR     44       57.16   -999.66
3       2019-12-10 10:46:09  ERROR     67      106.69  -4659.02
4       2019-12-02 06:53:29  ERROR      5       26.42  -3438.67
...                     ...    ...    ...         ...       ...
110932  2019-12-09 09:26:38  ERROR     27      472.36   9660.13
110933  2019-12-09 09:26:38  ERROR     51      134.64   -736.71
110934  2019-12-09 09:26:38  ERROR     56      388.94   1237.49
110935  2019-12-09 09:26:38  ERROR     81       82.97   -1871.2
110936  2019-12-09 09:26:38  ERROR     89      204.79  -6460.27

[110937 rows x 5 columns]

    6. Joining datasets to create an analytical one.
        Auxiliary dataframes:
        - equipemnt_df
        - equip_sensor_df
        - equip_fail_sensors(log)

In [18]:
# joining equipment and sensor dataframes
equip_sensor_join_df = equipemnt_df.join(equip_sensor_df, on="equipment_id", how="inner", lsuffix="_caller")

In [23]:
# Joining equip_sensor_join_df and equip_fail_sensor
len(equip_fail_sensors)

110937

In [ ]:
errors_by_equipment_final_df = equip_fail_sensors.join(equip_sensor_join_df, on=["equipment_id", how="inner", lsuffix="_caller")

In [24]:
equip_fail_sensors.columns

Index(['datetime', 'status', 'sensor', 'temperature', 'vibration'], dtype='object')

In [25]:
equip_sensor_join_df.columns

Index(['equipment_id_caller', 'code', 'group_name', 'equipment_id',
       'sensor_id'],
      dtype='object')